.swiper-button-next,
.swiper-button-prev {
  background-color: #006491;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px;
  font-weight: bold;
}
